/data

/2.MySQL/secret.yaml

/4.PostgreSQL/.env
/8.Web_API-Node.js-Ngnix-React-UI/client/.env
/8.Web_API-Node.js-Ngnix-React-UI/server/.env

/10.Python-Web-Scraping/list/clklist.xlsx
/10.Python-Web-Scraping/list/.ipynb_checkpoints

